# dependencies
/node_modules

# next.js
/.next/
/out/

# local persisted state (dev file storage)
/.data/

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo

# env
.env*.local
.env

# vercel
.vercel
